body{
	margin: 0px;
	padding: 0px;
}
#chess-board{
	background: linear-gradient(#11998e, #38ef7d);
	/*background: no-repeat center center fixed;;*/
	border: 1px solid black;
	width: 900px;
	height: 700px;
	margin-right: 50px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-gap: 0%;
}
#chess-board>div{
	/*width: 100%;
	height: 100%;*/
}

.tile-white{
	background-color: white;
}
.tile-black{
	background: linear-gradient(#000000,#434343);
}